#ignore .pkl & .csv preproces framework
auteltools/*.pkl
auteltools/*.csv

#libraries
venv/*

#ignore all logs
*.log

#ignore data & config files
#data/*
#config/*

#idea folder
.idea

#pretrained weights
weights/*

#own weights
checkpoints/*

#roots
__init__.py
__pycache__


